body {
    background-color: #f8f9fa;
}

h1 {
    text-align: center ;
    margin-bottom: 20px ;
}

.autok {
    margin: 20px !important;
}

.autoElem {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    color: rgb(143, 158, 175) !important;
    border: 1px solid #ffffff;
    border-radius: 20px !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important;
    
}

.autoElem:hover {
    background-color: #e9ecef !important;
    transition: background-color 0.5s !important;
}


.btn {
    background-color: #2e2022 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

.btn:hover {
    background-color: #d7dee6 !important;
    color: black !important;
    transition: all 0.5s !important;
}

.card-img-top {
    max-height: 200px !important;
    object-fit: cover !important;
}

p{
    padding: 1px;
}