body {
    background-color: #f8f9fa;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.autok {
    margin: 20px;
}

.autoElem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: #524d4d;
    color: rgb(143, 158, 175) !important;
    border: 1px solid #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.autoElem:hover {
    background-color: #e9ecef;
    transition: background-color 0.5s;
}


.btn {
    background-color: #2e2022 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;
}

.btn:hover {
    background-color: #d7dee6 !important;
    color: black !important;
    transition: all 0.5s !important;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}